body{
   min-height: 100vh;
  font-family: 'Playfair Display', serif;
}

/* heading-section */
.our-story{
  margin:5px;
  padding:100px; 
  background-color:#9fd3c7;;
  width:650px;
  height:600px;
  border-radius:8px;

}

.about-heading{
  text-align:center;
  color:black;
  position: relative;
  left:5%;
}

.story-para{
  line-height: 1.5;
  width:650px;
  text-align: center;
  position: relative;
  right:25%;
  margin:0px;
  position:relative;
  top:-50px;
}

.story-img{
height:654px;
width:780px;
position: relative;
left:42%;
top:-50%;
}

.subtext{
  text-align: center;
}



/*sets formatting for paragraph text*/
p{
  font-size: 20px;
  /* color: #191970;*/
  color: black;
  padding: 20px; 
  text-align: justify;
  font-family: 'Playfair Display', serif;
}






/*uses class to set formatting on specific sections - rearranging photos - maybe should use float for images*/
.center{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
 


/*format images*/
 img{
   border: 5px solid #B9B68D;
   background-color:#A7B88C; 
   vertical-align:baseline;
   /*position: center; have more than one pic may be better to use float to arrange images*/
 }



.container-fluid{
  background-color: #A7B88C;
} 

.navbar bg-body-tertiary fixed-top{
color: #A7B88C;
}

.navbar-brand{
  background-color: B9B68D;
}

.first-color { 
  background: #ececec; 
}

.second-color { 
  background: #9fd3c7; 
}

.third-color { 
  background: #385170; 
}

.fourth-color { 
  background: #142d4c; 
}
