     /* Shop Page */
.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }

  .all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
  }

  .browser {
    background: white;
  }

  .browser > h2, p {
    margin: 4px;
    font-size: 90%;
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: hotpink;
    color: white;
  }


  .footer-container{
    height:50%;
    /* margin: 5%; */
    width:100%;
    padding:150px;
    display:flex;
    justify-content: center;
    position:fixed;
  }

  .navbar-brand{
    font-family: monospace;
    font-weight: bold;
  }

  .three-cards{
    padding:200px;
  }


  /* Homepage */
/* .main-section{
  border: 1px solid darkgray;
    padding: 50px;
    margin: 50px auto;
    border-radius: 10px;
    max-width: 50%;
    height: 65vh;
    background:white;;
} */